body {
  background-color: beige;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers items horizontally */
  height: 100vh; /* Ensures full height of the viewport */
  border: 2px solid black;
}

.header, .footer {
  border: 2px solid black;
}